<!DOCTYPE html>
<html lang="en">

<head>
  <title>ls</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/index-page.css">
  <link rel="stylesheet" href="/static/css/new-shortlink-form.css">
  <link rel="stylesheet" href="/static/css/button-component.css">
  <script src="/static/js/new-shortlink-form.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="index-page">

  <header>
    <h1>Link Shortener</h1>
  </header>

  <main>
    <form id="new-shortlink-form" method="post" action="/">
      <input type="url" name="longLink" required>
      <button class="btn" type="submit">
        Get Short Link!!
      </button>

    </form>

    <p>Tu link acortado es...</p>
    <label>"link acortado"</label>
  </main>

  <footer>
    <p>¡¡YUCA.CODE FUNDATION!!</p>
  </footer>

</body>

</html>