<!DOCTYPE html>
<html lang="en">

<head>
  <title>ls</title>
  <link rel="stylesheet" href="/static/css/resetStyle.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/js/script.js"></script>
</head>

<body>

  <header>
    <h1>Link Shortener</h1>
  </header>

  <main>
    <form id="form" method="submit">
      <input type="url" name="inputLink" id="inputLink" required>

      <button id="submitButton" class="submitButton" type="submit" name="submit">
        Get Short Link!!
      </button>

    </form>
    <p>Tu link acortado es...</p>
    <label>"link acortado"</label>
  </main>

  <footer>
    <p>¡¡YUCA.CODE FUNDATION!!</p>
  </footer>

</body>

</html>